/* prettier-ignore */
.foo {
  /* ec0lint-style-disable-next-line indentation, unknown */
    color: red;
}

/* ec0lint-style-disable indentation */ /* prettier-ignore */
.bar {
    color: red;
}
/* ec0lint-style-enable indentation */

/* prettier-ignore */
.baz {
    color: red; /* ec0lint-style-disable-line indentation */
}

/* ec0lint-style-disable indentation */ /* prettier-ignore */
.bar {
    color: red;
}
